body{
    background-color: rgba(255, 255, 255, 0.938);
}

#form_container{
    background-color: white;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgb(37, 36, 36);
    margin: 25px auto;
    padding: 25px;
}

#form_container h2{
    font-weight: 900;
    margin-bottom: 30px;
}

#form_container form{
    padding-bottom: 50px;
}

#form_container .form-control{
    border: none;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

#form_container .form-control:focus{
    box-shadow: none;
}

#form_container input[type="submit"]{
    background-color: blueviolet;
    border-color: blueviolet;
}

#form_container input[type="reset"]{
    background-color: rgb(238, 238, 47);
    border-color:  rgb(238, 238, 47);
}

#link_container {
    text-align: center;
}



.btn-btn-primary{
    width: 100%;
}

#form_container a {
    color: black;
    transition: .5s;
    text-decoration: none;
}

#form_container a:hover{
    color: blueviolet;
}


@media (min-width:768px) {
    #form_container{
        margin: 50px auto;
        padding: 50px;
    }

    .btn-btn-primary{
        width: auto;
    }
}
